@charset "utf-8";

.sub_search {
  background: rgba(242, 242, 242, .8);
  padding: .5em 3em 1em;
  border-radius: 10px;
  @include screen('mobile') {
    padding: .5em .5em 1em;
  }
  .form_content{
    max-width: 100%;
    @include screen('mobile') {
      max-width: 88%;
      margin: 0 auto;
    }
  }
  .form_grp{
    line-height: 1em;
    max-width: 100%;
    flex: 1 1 100%;
  }
  h3{
    letter-spacing: 1px;
    margin:1em 0 0 .5em!important;
    font-size: 1.35em;
  }

  .form_inline{
    input{
      flex: 1 1 auto!important;
    }
  }
}

.Pro-detail{
  background: rgba(242, 242, 242, .8);
  padding: 1em;
  border-radius: 10px;
  @include screen('mobile') {

  }
  .container{

  }
  .flexbox{
    display: flex;
    justify-content: flex-start;
    @include screen('xs_mobile') {
      flex-direction: column;
    }
  }
  .photo{
    flex:0 0 20%;
    margin: 10px;
    @include screen('mobile') {
      flex:0 0 140px;
    }
    @include screen('xs_mobile') {
      flex:1 1 100%;
      text-align: center;
    }
    img{
      width: 100%;
      height: auto;
      @include screen('xs_mobile') {
        width: 70%;
      }
    }
  }
  .clist{
    flex:1 1 auto;
    margin: 10px;
    dl{
      margin: 0;
      padding: 0;
      dt{
        margin: 0;
        padding: 0;
        font-weight: bold;
      }
      dd{
        display: inline-block;
        margin: 0 1em 0 0;
        padding: 0;
      }
    }
    ul{
      list-style: none;
      margin: .5em 0;
      padding: 0;
      li{
        position: relative;
        margin: 0;
        padding: 0 0 0 1.5em;
        &:before{
          content:'';
          position: absolute;
          left:.5em;
          top:.5em;
          width: 1em;
          height: 1.5em;
          background: url('../images/li-dot.png')no-repeat left top .3em;
          background-size: 5px auto;
        }
      }
    }
    .btn{
      background: #fff;
      padding: .2em 1em .2em .5em;
      color:$primaryColor;
      border-radius: 5px;
      border: solid 1px $color-gray;
      &:hover, &:focus{
        color:$secondaryColor;
      }
    }
    .i_mail3{
      &:before{
        width: .75em;
        height: .75em;
      }
    }
    .i_grid3{
      &:before{
        width: .75em;
        height: .75em;
      }
    }
    a{
      color:$primaryColor;
      display: block;
      padding: .2em 0;
      &:hover, &:focus{
        color:$secondaryColor;
        text-decoration: underline;
      }
    }
  }
}

.cptab{
  background: rgba(242, 242, 242, .8);
  margin: 2em 0;
  border-radius: 10px;
  // pc版 條列menu
  .tabContent::-webkit-scrollbar,.menu::-webkit-scrollbar-track {
    // background-color: rgba(0,0,0,.1);
    background-color:rgba(182, 210, 228, .1) ;
    overflow-y: auto;
    @include screen('mobile') {
    }
  }
// 設定scrollbar寬度
.tabContent::-webkit-scrollbar {
  width: 5px;
}
// 設定scrollbar實體顏色，可設定圓角
.tabContent::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, .3);
}
.tabContent{
  height: 9.6em;
  overflow-y: auto;
}
.table_list{
  td{
    text-align: center;
    @include screen('xs_mobile') {
      text-align: left;
      padding-left:5em!important;
      &:before{
        width: 4em;
        white-space:normal;
      }
    }
  }
}
}


.cplist{
  margin-bottom: 1em;
  h3{
    border-left: solid 4px $color-yellow;
    padding-left: .5em;
    letter-spacing: 1px;
    margin:1em 0 1em .5em;
    font-size: 1.25em;
  }
  ul{
    background: rgba(242, 242, 242, .8);
    border-radius: 10px;
    @include li-reset;
    padding: 1em 2em;
    @include screen('mobile') {
     padding: 1em; 
   }
   li{
    margin: 0;
    padding: .5em 0 .5em 2em;
    line-height: 1.6;
    font-size: .938em;
    border-bottom: 1px #D9D9D9 solid;
    position: relative;
    &:before{
      content:'';
      position: absolute;
      left:.5em;
      top:.5em;
      width: 1em;
      height: 1.5em;
      background: url('../images/li-dot.png')no-repeat center top .6em;
      background-size: 5px auto;
    }
    a {
      @include aSetting_nocolor;
      display: block;
    }
  }
}
.btn{
  background: $color-gray2;
  padding: .2em .15em .1em;
  margin: .3em .6em .3em 0;
  color:$btn-word;
  border-radius: 5px;
  min-width: auto;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
  &:hover, &:focus{
    background: darken($color-gray2, 3);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2);
  }
}
.btngrp{
  display: inline-block;
  margin-left: .5em;
}
}

.quicklink{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .1);
  border-radius: 5px;
  position: fixed;
  z-index:99;
  right: 1em;
  bottom:2em;
  @include screen('mobile') {
    display: none;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 1em;

    li{
      text-align: center;
      font-size: .938em;
      font-weight: bold;
      a{
        padding: .3em 0;
        display: block;
        border-bottom: solid 3px rgba(255, 255, 255, 0);
        &:hover, &:focus{
          border-bottom: solid 3px $color-yellow;
        }
      }
    }
  }
}

.faculty{
  margin: 1em 0 2em;
  h3{
    border-left: solid 4px $color-yellow;
    padding-left: .5em;
    letter-spacing: 1px;
    margin:1em 0 1em .5em;
    font-size: 1.35em;
  }
}
